<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>uthentication</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
</h3>deatils</h3>

<form action="/details" method="post">
<label for="deatils">type of user:</label>

<select name="detail" id="details"required>
  <option value="patient">patient</option>
  <option value="doctor">doctor</option>
</select>
<br>
<button type ="done">done</button>
    </form>

    
	<script src=""async defer ></script>
  </body>
</html>
