<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>uthentication</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
  </h3>signup</h3>

  <form action="/signin" method="post">


    <lable for ="">username</label>
    <input type ="text" id="username" name="username" placeholder="create a username(onlu letters and numbers)"Required>"
    <br>
    <lable for ="">password</label>
    <input type ="password" id="pass1" name="pass1" placeholder="enter your password"Required>"
    
    <br>
    

   
       <button type ="submit">signin</button>
    </form>
	<script src=""async defer ></script>
   
    
  </body>
</html>